
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Birthstone&family=Bonheur+Royale&family=Dongle:wght@700&family=Roboto:wght@100&display=swap');

body {
    background-color:rgb(238, 155, 0) ;
}
.header p {
    font-family: 'ABeeZee', sans-serif;
 color: #bb3e03;
 max-width: 30vw;    
 padding:120px 0  0 20px;
 top: 120px;
}

.header button {
    background-color: #bb3e03;
    color: #e9d8a6;
    border: none;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 20px;

}
.header {
height: 60vh;
background-color: #ca6702;
display: flex;
margin: 0;
flex-direction: column;
overflow: hidden;
justify-content: baseline;
}

 h1 {
    color: #e9d8a6;
    position: absolute;
    top:40px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    font-size: 23px;
    left: 13%;
}

.header img {
    position: absolute;
    top:3px;
    left: 2px;
    width: 15%;
    height: 20%;
}