@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

body {

font-family: 'Water Brush',
cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: plum;
}

h1 {
    text-transform: uppercase;
    
    font-size: 1.7em;
}


canvas {
    background-color: aliceblue;
    border: 0.6em solid slateblue;
}

.toolbox {
    display:flex;
    margin-top: 1em;
}

.toolbox > * {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-left: 0.6em;
    height: 1.2em;
    background-color: blueviolet;
    width: 1.6em;
}

.toolbox > *:last-child {
    right: 1.2em;
}